<div [attr.width]="width" class="emoji-mart">
  <div class="emoji-mart-bar">
    <emoji-mart-anchors
      #anchorsRef
      [categories]="categories"
      (anchorClick)="handleAnchorClick($event)"
    >
    </emoji-mart-anchors>
  </div>
  <emoji-search
    [i18n]="i18n"
    (search)="handleSearch($event)"
    [include]="include"
    [exclude]="exclude"
    [custom]="custom"
    [emojisToShowFilter]="emojisToShowFilter"
  >
  </emoji-search>
  <div
    #scrollRef
    class="emoji-mart-scroll"
  >
    <emoji-category
      *ngFor="let category of categories; let idx = index; trackBy: categoryTrack"
      #categoryRef
      [id]="category.id"
      [name]="category.name"
      [emojis]="category.emojis"
      [perLine]="perLine"
      [native]="native"
      [hasStickyPosition]="native"
      [i18n]="i18n"
      [custom]="custom"

      [emojiNative]="native"
      [emojiSkin]="skin"
      [emojiSize]="emojiSize"
      [emojiSet]="set"
      [emojiSheetSize]="sheetSize"
      [emojiForceSize]="native"
      [emojiTooltip]="emojiTooltip"
    >
    </emoji-category>

</div>
