<div [attr.width]="width" class="emoji-mart">
  <emoji-mart-anchors
    #anchorsRef
    [categories]="categories"
    (anchorClick)="handleAnchorClick($event)"
  >
  </emoji-mart-anchors>
  <div
    #scrollRef
    class="emoji-mart-scroll"
  >
    <emoji-category
      *ngFor="let category of categories; let idx = index; trackBy: categoryTrack"
      #categoryRef
      [id]="category.id"
      [name]="category.name"
      [emojis]="category.emojis"
      [perLine]="perLine"
      [native]="native"
      [hasStickyPosition]="native"
      [i18n]="i18n"

      [emojiNative]="native"
      [emojiSkin]="skin"
      [emojiSize]="emojiSize"
      [emojiSet]="set"
      [emojiSheetSize]="sheetSize"
      [emojiForceSize]="native"
      [emojiTooltip]="emojiTooltip"
    >
    </emoji-category>

</div>
